<ion-view view-title="Tasks">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-plus-outline" ng-click="openAddTaskDialog()"></button>
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
        </div>
    </ion-nav-buttons>

    <div class="tabs-striped tabs-color-stable">
        <div class="tabs">
            <a ng-class="{active:isSelected('todo')}" class="tab-item" ng-click="select('todo')">To Do</a>
            <a ng-class="{active:isSelected('doing')}" class="tab-item" ng-click="select('doing')">Doing</a>
            <a ng-class="{active:isSelected('done')}" class="tab-item" ng-click="select('done')">Done</a>
        </div>
    </div>
    <ion-content>
        <ion-list class="list" show-delete="shouldShowDelete">
            <ion-item class="item-text-wrap item-inherit-bgcolor" ng-repeat="task in tasks | filter:{state: curTab} | orderBy: 'description' track by task._id" ng-style="{ 'background-color' : getLifeAreaFromGoal(task.goal)['color-bg']}">
                {{task.description || "Edit this field"}}
                <ion-option-button class="button-positive" ng-click="openEditTaskDialog(task)">
                    <i class="icon ion-edit"></i>
                </ion-option-button>
                <ion-option-button ng-if="task.state=='todo'" class="button-balanced" ng-click="changeTaskState(task._id, 'doing')"><i class="icon ion-play"></i></ion-option-button>
                <ion-option-button ng-if="task.state=='doing'" class="button-balanced" ng-click="changeTaskState(task._id, 'done')"><i class="icon ion-checkmark"></i></ion-option-button>
                <ion-option-button ng-if="task.state=='doing'" class="button-assertive" ng-click="changeTaskState(task._id, 'todo')"><i class="icon ion-stop"></i></ion-option-button>
                <ion-option-button ng-if="task.state=='done'" class="button-assertive" ng-click="changeTaskState(task._id, 'todo')"><i class="icon ion-ios-rewind"></i></ion-option-button>
                <ion-delete-button class="ion-trash-b" ng-click="rmTask(task)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>